extends layout.pug

block content
    .card-container
    script(type="module" src="js/homepage.js")
    .footer
        h4 Site Created By:
        .creator_info
            h4 James Ballard
            a.social(href='https://github.com/jballa91'): img.icon_social(src="/images/icons8-github.svg")
            a.social(href='https://www.linkedin.com/in/james-ballard-901/'): img.icon_social(src="/images/icons8-linkedin.svg")
        .creator_info
            h4 Mai Van Wagner
            a.social(href='https://github.com/Maivw'): img.icon_social(src="/images/icons8-github.svg")
            a.social(href='https://www.linkedin.com/in/mai-van-wagner-2295561aa/'): img.icon_social(src="/images/icons8-linkedin.svg")
        .creator_info
            h4 Seamus Le
            a.social(href='https://github.com/lullofthesea'): img.icon_social(src="/images/icons8-github.svg")
            a.social(href='https://www.linkedin.com/in/seamus-le-4355041aa/'): img.icon_social(src="/images/icons8-linkedin.svg")
        .creator_info
            h4 Zachary Rizer
            a.social(href='https://github.com/zacharyRizer/'): img.icon_social(src="/images/icons8-github.svg")
            a.social(href='https://www.linkedin.com/in/zachary-rizer/'): img.icon_social(src="/images/icons8-linkedin.svg")