doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="api" href=`${api}`)
        link(href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(href="/styles/style.css" rel="stylesheet")
        link(rel="icon" type="image/png" href="../images/pixelDog.png")
        script(type="module" src="/js/navbar.js")
        title Paws and Claws
    body
        .nav
            .nav-left
                a(href='/'): img(src="/images/pixelDog.png")
                a(href="/"): h1 Paws and Claws
            .nav-right-1
                a.nav-button(href="/login") Login
                a.nav-button(href="/register") Register
            div(class="nav-right-2 hidden")
                p.greeting Welcome User
                ul.nav-list
                    li: a.nav-link(id="profile-link") Profile
                    li: a.nav-link(href="/logout") Logout
        .page-container
            div(class="masthead hidden" id="masthead")
                div(class="slider")
                    a(id="carouselNavLeft"): span.nav-left-arrow-container
                        span(class="nav-left-arrow")
                    div(class="slides")
                        div(class="carousel-img" id="slide-1"): img(src="/images/carousel/bg1.jpg")
                        div(class="carousel-img" id="slide-2"): img(src="/images/carousel/bg2.jpg")
                        div(class="carousel-img" id="slide-3"): img(src="/images/carousel/bg3.jpg")
                        div(class="carousel-img" id="slide-4"): img(src="/images/carousel/bg4.jpg")
                        div(class="carousel-img" id="slide-5"): img(src="/images/carousel/bg5.jpg")
                        div(class="carousel-img" id="slide-6"): img(src="/images/carousel/bg6.jpg")
                        div(class="carousel-img" id="slide-7"): img(src="/images/carousel/bg7.jpg")
                        div(class="carousel-img" id="slide-8"): img(src="/images/carousel/bg8.jpg")
                        div(class="carousel-img" id="slide-9"): img(src="/images/carousel/bg9.jpg")
                        div(class="carousel-img" id="slide-10"): img(src="/images/carousel/bg10.jpg")
                    a(id="carouselNavRight"): span.nav-right-arrow-container
                        span(class="nav-right-arrow")
                div(class="register-container hidden" id="registerContainer")
                    h2 Your new best friend is a click away
                    p Paws and Claws is here to help connect people and pets. So if you're looking for a new furry companion, or you are a shelter that has pets that need homes, click below!
                    a.nav-button(href="/register") Register
                div(class="logged-in-container hidden" id="loggedInContainer")
                    h2 Here's a list of pets we think you'd get along great with
                    p No pressure, just some suggestions
                div(class="error-container hidden" id="errorContainer")
                    h3 Uh-oh! We had a few problems...
                    ul.error-list
            block content
