extends layout.pug

block content
    .forms-container
        form.create-pref-pet
            .create-pref-header
                h1 Let's find you the perfect pet!
                p Enter in what you are looking for in a furry friend.
            .breeds
                select(name="breed" required)
                    each breed in breed
                        option(value=`${breed.id}`)= breed.breedName
                label(for="petName") Pet Name
                input(type="text" id="petName" )
                select(name="age")
                    each age in ages
                        option(value=`${ages.id}`)= ages.id
                select(name="sex")
                    each sex in sexes
                        option(value=`${sex.id}`)= sex.id
                select(name="size")
                    each size in sizes
                        option(value=`${size.id}`)= size.id
                label(for="description") Description
                textarea(id = "description" name="description", cols="30", rows="10")
                label(for="isOkayKids") Is okay with kids?
                input(type="checkbox" name="isOkayKids")
                label(for="isOkayPets") Is okay with kids?
                input(type="checkbox" name="isOkayPets")
                label(for="isAdopted") Is adopted?
                input(type="checkbox" name="isAdopted")
        script(type="module" src="js/create-pet.js")
            
            