extends layout.pug

block content
    .page-container
        .masthead
            h2 Your new best friend is a click away
            p Quis dolor excepteur est ipsum sint. Occaecat culpa velit aliqua deserunt do elit nisi labore deserunt irure. Consequat duis mollit ex nisi et deserunt id tempor consectetur aute. Magna ipsum irure non sint.
            a.nav-button(href="/register") Register
        .card-container
            .card
                img.pet-img(src="/images/pet.jpeg")
                .card-info
                    p.pet-name Pepper
                    p.pet-age Age: 3 years
                    p.pet-breed Breed: Border Collie
            .card
                img.pet-img(src="/images/pet.jpeg")
                .card-info
                    p.pet-name Pepper
                    p.pet-age Age: 3 years
                    p.pet-breed Breed: Border Collie
            .card
                img.pet-img(src="/images/pet.jpeg")
                .card-info
                    p.pet-name Pepper
                    p.pet-age Age: 3 years
                    p.pet-breed Breed: Border Collie
            .card
                img.pet-img(src="/images/pet.jpeg")
                .card-info
                    p.pet-name Pepper
                    p.pet-age Age: 3 years
                    p.pet-breed Breed: Border Collie
            .card
                img.pet-img(src="/images/pet.jpeg")
                .card-info
                    p.pet-name Pepper
                    p.pet-age Age: 3 years
                    p.pet-breed Breed: Border Collie
            .card
                img.pet-img(src="/images/pet.jpeg")
                .card-info
                    p.pet-name Pepper
                    p.pet-age Age: 3 years
                    p.pet-breed Breed: Border Collie
            .card
                img.pet-img(src="/images/pet.jpeg")
                .card-info
                    p.pet-name Pepper
                    p.pet-age Age: 3 years
                    p.pet-breed Breed: Border Collie
            .card
                img.pet-img(src="/images/pet.jpeg")
                .card-info
                    p.pet-name Pepper
                    p.pet-age Age: 3 years
                    p.pet-breed Breed: Border Collie
            .card
                img.pet-img(src="/images/pet.jpeg")
                .card-info
                    p.pet-name Pepper
                    p.pet-age Age: 3 years
                    p.pet-breed Breed: Border Collie
            .card
                img.pet-img(src="/images/pet.jpeg")
                .card-info
                    p.pet-name Pepper
                    p.pet-age Age: 3 years
                    p.pet-breed Breed: Border Collie
            .card
                img.pet-img(src="/images/pet.jpeg")
                .card-info
                    p.pet-name Pepper
                    p.pet-age Age: 3 years
                    p.pet-breed Breed: Border Collie
            .card
                img.pet-img(src="/images/pet.jpeg")
                .card-info
                    p.pet-name Pepper
                    p.pet-age Age: 3 years
                    p.pet-breed Breed: Border Collie
