extends layout.pug

block content            
    .card-container
        //- .card
        //-     img.pet-img(src="/images/pet.jpeg")
        //-     .card-info
        //-         p.pet-name Pepper
        //-         .pet-age
        //-             p Age:
        //-             p 3 years
        //-         .pet-breed 
        //-             p Breed:
        //-             p Border Collie
        //- .card
        //-     img.pet-img(src="/images/pet.jpeg")
        //-     .card-info
        //-         p.pet-name Pepper
        //-         .pet-age
        //-             p Age:
        //-             p 3 years
        //-         .pet-breed 
        //-             p Breed:
        //-             p Border Collie
        //- .card
        //-     img.pet-img(src="/images/pet.jpeg")
        //-     .card-info
        //-         p.pet-name Pepper
        //-         .pet-age
        //-             p Age:
        //-             p 3 years
        //-         .pet-breed 
        //-             p Breed:
        //-             p Border Collie
        //- .card
        //-     img.pet-img(src="/images/pet.jpeg")
        //-     .card-info
        //-         p.pet-name Pepper
        //-         .pet-age
        //-             p Age:
        //-             p 3 years
        //-         .pet-breed 
        //-             p Breed:
        //-             p Border Collie
        //- .card
        //-     img.pet-img(src="/images/pet.jpeg")
        //-     .card-info
        //-         p.pet-name Pepper
        //-         .pet-age
        //-             p Age:
        //-             p 3 years
        //-         .pet-breed 
        //-             p Breed:
        //-             p Border Collie
        //- .card
        //-     img.pet-img(src="/images/pet.jpeg")
        //-     .card-info
        //-         p.pet-name Pepper
        //-         .pet-age
        //-             p Age:
        //-             p 3 years
        //-         .pet-breed 
        //-             p Breed:
        //-             p Border Collie
        //- .card
        //-     img.pet-img(src="/images/pet.jpeg")
        //-     .card-info
        //-         p.pet-name Pepper
        //-         .pet-age
        //-             p Age:
        //-             p 3 years
        //-         .pet-breed 
        //-             p Breed:
        //-             p Border Collie
        //- .card
        //-     img.pet-img(src="/images/pet.jpeg")
        //-     .card-info
        //-         p.pet-name Pepper
        //-         .pet-age
        //-             p Age:
        //-             p 3 years
        //-         .pet-breed 
        //-             p Breed:
        //-             p Border Collie
        //- .card
        //-     img.pet-img(src="/images/pet.jpeg")
        //-     .card-info
        //-         p.pet-name Pepper
        //-         .pet-age
        //-             p Age:
        //-             p 3 years
        //-         .pet-breed 
        //-             p Breed:
        //-             p Border Collie
        //- .card
        //-     img.pet-img(src="/images/pet.jpeg")
        //-     .card-info
        //-         p.pet-name Pepper
        //-         .pet-age
        //-             p Age:
        //-             p 3 years
        //-         .pet-breed 
        //-             p Breed:
        //-             p Border Collie
    script(type="module" src="js/homepage.js")