extends layout.pug

block content
    .page-container
        .masthead
            .register-container
                h2 Your new best friend is a click away
                p Quis dolor excepteur est ipsum sint. Occaecat (culpa velit aliqua deserunt do elit nisi labore deserunt irure. Consequat duis mollit ex nisi et deserunt id tempor consectetur aute. Magna ipsum irure non sint.
                a.nav-button(href="/register") Register
            //- .logged-in-container
            //-     h2 Here's a list of pets we think you'd get along great with
            //-     p No pressure, just some suggestions
            //- .error-container
            //-     h3 Uh-oh! We had a few problems...
            //-     ul.error-list
            //-         li.error Sample error 1
            //-         li.error Sample error 2
            //-         li.error Sample error 3
        .card-container
            .card
                img.pet-img(src="/images/pet.jpeg")
                .card-info
                    p.pet-name Pepper
                    .pet-age
                        p Age:
                        p 3 years
                    .pet-breed 
                        p Breed:
                        p Border Collie
            .card
                img.pet-img(src="/images/pet.jpeg")
                .card-info
                    p.pet-name Pepper
                    .pet-age
                        p Age:
                        p 3 years
                    .pet-breed 
                        p Breed:
                        p Border Collie
            .card
                img.pet-img(src="/images/pet.jpeg")
                .card-info
                    p.pet-name Pepper
                    .pet-age
                        p Age:
                        p 3 years
                    .pet-breed 
                        p Breed:
                        p Border Collie
            .card
                img.pet-img(src="/images/pet.jpeg")
                .card-info
                    p.pet-name Pepper
                    .pet-age
                        p Age:
                        p 3 years
                    .pet-breed 
                        p Breed:
                        p Border Collie
            .card
                img.pet-img(src="/images/pet.jpeg")
                .card-info
                    p.pet-name Pepper
                    .pet-age
                        p Age:
                        p 3 years
                    .pet-breed 
                        p Breed:
                        p Border Collie
            .card
                img.pet-img(src="/images/pet.jpeg")
                .card-info
                    p.pet-name Pepper
                    .pet-age
                        p Age:
                        p 3 years
                    .pet-breed 
                        p Breed:
                        p Border Collie
            .card
                img.pet-img(src="/images/pet.jpeg")
                .card-info
                    p.pet-name Pepper
                    .pet-age
                        p Age:
                        p 3 years
                    .pet-breed 
                        p Breed:
                        p Border Collie
            .card
                img.pet-img(src="/images/pet.jpeg")
                .card-info
                    p.pet-name Pepper
                    .pet-age
                        p Age:
                        p 3 years
                    .pet-breed 
                        p Breed:
                        p Border Collie
            .card
                img.pet-img(src="/images/pet.jpeg")
                .card-info
                    p.pet-name Pepper
                    .pet-age
                        p Age:
                        p 3 years
                    .pet-breed 
                        p Breed:
                        p Border Collie
            .card
                img.pet-img(src="/images/pet.jpeg")
                .card-info
                    p.pet-name Pepper
                    .pet-age
                        p Age:
                        p 3 years
                    .pet-breed 
                        p Breed:
                        p Border Collie