extends layout.pug
block content
    .page-container
        .forms-container-login
            form.user-login
                .user-form-header
                    h1 Login as an adopter
                    p We're glad you're back. Let's find you a best friend for thick and thin. Login below and we'll get back to it. 
                input.email(name="email" type="text" placeholder="Email")
                input.password(name="password" type="password" placeholder="Password")
                button.submit(type="submit") Login Adopter
            span.divider
            form.shelter-login
                .shelter-form-header
                    h1 Login as a shelter
                    p Welcome back, thanks for all your hard work. We appreciate you placing so many lovable dogs. Let us do our part to help you along.
                input.email(name="email" type="text" placeholder="Email")
                input.password(name="password" type="password" placeholder="Password")
                button.submit(type="submit") Login Shelter
    script(type="module" src="js/log-in.js")