extends layout.pug

block content
    .profile-container
        .profile-left
            .pet-card-container
        .dummy
            .profile-right
                .info-container
                    h3(id="shelter-name")
                    .contact
                        p(id="shelter-phoneNum")
                        p(id="shelter-email")
                        p(id="shelter-website")
                    .address
                        p(id="shelter-address")
                        p(id="shelter-address-2")
                nav.links-container
                    ul.profile-nav-list
                        li()
                        li(id="addPet"): a.profile-nav-link(href="#") Add a pet
                        li(id="adoptReq"): a.profile-nav-link(href="#") Adoption requests
    script(type="module" src="/js/shelter-profile.js")