extends layout.pug

block content
    .profile-container
        .profile-left
            .pet-card-container
        .dummy
            .profile-right
                .info-container
                    h3(id="user-name")
                    .contact
                        p(id="user-email")
                        p(id="user-phoneNum")
                nav.links-container
                    ul.profile-nav-list
                        li(id="matches"): a.profile-nav-link(href="#") Matches
                        li(id="requests"): a.profile-nav-link(href="#") Adoption requests
                        li(id="editPetPref"): a.profile-nav-link(href="#") Edit your dream pet
    script(type="module" src="/js/user-profile.js")