@import "utils"
.masthead
    margin: 0 auto 0 auto
    display: flex
    background-image: linear-gradient(180deg, #DDDDDD, #F5F5F5)
    border-radius: 0 0 10px 10px
    .register-container
        h2
            color: $darker
        p
            margin: 10px 10% 0 10%
            color: $grey5
        .nav-button
            margin: 10px 20% 0 auto
            background: $darker
            @include navButton
            &:hover
                background: $lighter
        @include mastheadFormatter

    .logged-in-container
        @include mastheadFormatter
        h2
            color: $darker
        p
            margin: 10px 0 0 10px
            color: $grey5
    .error-container
        @include mastheadFormatter
        h3
            margin: 10px 0 0 10px
            color: $grey5
        ul
            list-style: none
        li
            color: $mutedRed
    .hidden
        display: none
.hidden
    display: none
