@import "utils"
.nav
    position: fixed
    top: 0
    display: flex
    justify-content: space-between
    align-items: center
    height: 80px
    width: 100vw
    background: $primary
.nav-left
    display: flex
    a
        display: flex
        align-items: center
        margin-left: 15px
        &:first-child
            margin-left: 50px
    h1
        padding: 1px
        color: $grey1
        font-weight: 400

.nav-right
    display: flex
    .nav-button
        background: $primary
        border: 2px $grey1 solid
        &:last-child
            margin-right: 50px
            margin-left: 25px
        @include navButton

        &:hover
            background: $light
