/* Color Theme Swatches in Hex */
@font-face {
  font-family: "Arvo", serif;
  src: url("arvo");
}

html {
  font-family: "Arvo";
}

html, body, h1, h2, h3, p, img, a {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-weight: 400;
}

.nav {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  width: 100vw;
  background: #4C008A;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-left a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15px;
}

.nav-left a:first-child {
  margin-left: 50px;
}

.nav-left h1 {
  padding: 1px;
  color: #f5f5f5;
  font-weight: 400;
}

.nav-right-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 50px;
}

.nav-right-1 .nav-button {
  background: #4C008A;
  font-weight: 400;
  border: 2px #f5f5f5 solid;
  padding: 5px;
  width: 100px;
  text-align: center;
  color: #f5f5f5;
  border-radius: 10px;
}

.nav-right-1 .nav-button:last-child {
  margin-left: 25px;
}

.nav-right-1 .nav-button:hover {
  background: #9340D6;
}

.nav-right-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-right-2 .greeting {
  color: #f5f5f5;
  margin-right: 20px;
  font-size: 16px;
  padding: 10px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding: 0;
  margin-right: 50px;
}

.nav-list .nav-link {
  color: #f5f5f5;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-list .nav-link:hover {
  color: lightcoral;
}

.nav-list li {
  padding: 0 20px 0 20px;
}

.nav-list li:not(:last-child) {
  border-right: 1px solid #C0C0C0;
}

.hidden {
  display: none;
}

.masthead {
  width: 100%;
  margin: 0 auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#DDDDDD), to(#F5F5F5));
  background-image: linear-gradient(180deg, #DDDDDD, #F5F5F5);
  border-radius: 0 0 10px 10px;
}

.masthead .register-container {
  margin: 40px 5% 40px 5%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.masthead .register-container h2 {
  color: #300057;
}

.masthead .register-container p {
  margin: 10px 10% 0 10%;
  color: #303030;
}

.masthead .register-container .nav-button {
  margin: 10px 20% 0 auto;
  background: #300057;
  padding: 5px;
  width: 100px;
  text-align: center;
  color: #f5f5f5;
  border-radius: 10px;
}

.masthead .register-container .nav-button:hover {
  background: #9340D6;
}

.masthead .logged-in-container {
  margin: 40px 5% 40px 5%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.masthead .logged-in-container h2 {
  color: #300057;
}

.masthead .logged-in-container p {
  margin: 10px 0 0 10px;
  color: #303030;
}

.masthead .error-container {
  width: 100%;
  margin: 40px 5% 40px 5%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.masthead .error-container h3 {
  margin: 10px 0 0 10px;
  color: #303030;
}

.masthead .error-container ul {
  list-style: none;
}

.masthead .error-container li {
  color: #8A380E;
}

.masthead .hidden {
  display: none;
}

.hidden {
  display: none;
}

.page-container {
  width: 70vw;
  margin: 80px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px 0 0 0;
}

.card {
  width: 20%;
  height: 400px;
  margin: 0 2.5% 50px 2.5%;
  border-radius: 30px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: #f5f5f5;
}

.card:hover {
  -webkit-box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.6);
          box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.card .card-image {
  height: 60%;
}

.card img {
  float: left;
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 30px 30px 0 0;
}

.card-info {
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px auto 0 30px;
}

.card-info p {
  margin-bottom: 5px;
}

.card-info .pet-name {
  color: #300057;
  font-weight: 500;
  font-size: 1.7em;
  margin-left: 20px;
}

.card-info .pet-age, .card-info .pet-breed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 30px 0 30px;
  color: #303030;
}

.forms-container-register {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form {
  width: 40%;
}

input {
  background: #f5f5f5;
  border: 2px solid #300057;
  border-radius: 3px;
  padding: 10px 10px;
  font-family: "Arvo";
}

input::-webkit-input-placeholder {
  color: #808080;
}

input:-ms-input-placeholder {
  color: #808080;
}

input::-ms-input-placeholder {
  color: #808080;
}

input::placeholder {
  color: #808080;
}

input:hover {
  -webkit-box-shadow: 0 0 3px 2px #A9A9A9;
          box-shadow: 0 0 3px 2px #A9A9A9;
}

button {
  background: #6C2F9D;
  border: 2px solid #300057;
  font-family: "Arvo";
  padding: 5px;
  width: 150px;
  text-align: center;
  color: #f5f5f5;
  border-radius: 10px;
}

button:hover {
  background: #9340D6;
  cursor: pointer;
}

.register-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f5f5f5;
  padding: 20px 30px;
}

.register-user .user-form-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.register-user .user-form-header h1 {
  color: #6C2F9D;
}

.register-user .user-form-header p {
  margin: 5px 20px 20px 20px;
  color: #808080;
}

.register-user .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 80%;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 10px;
}

.register-user .username-email {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 80%;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.register-user .firstName, .register-user .lastName, .register-user .username, .register-user .email {
  width: 42%;
}

.register-user .phone-number {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 80%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 10px;
}

.register-user .password {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 80%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 10px;
}

.register-user .password-confirm {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 80%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 10px;
}

.register-user .button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 10%;
}

.divider {
  width: 5px;
  height: 460px;
  background: #A9A9A9;
  opacity: 0.5;
  border-radius: 2px;
  z-index: 0;
}

.register-shelter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f5f5f5;
  padding: 20px 30px;
}

.register-shelter .shelter-form-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.register-shelter .shelter-form-header h1 {
  color: #6C2F9D;
}

.register-shelter .shelter-form-header p {
  margin: 5px 20px 20px 20px;
  color: #808080;
}

.register-shelter .shelter-names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 80%;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 10px;
}

.register-shelter .website-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 80%;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 10px;
}

.register-shelter .shelterName, .register-shelter .shelter-phoneNumber, .register-shelter .website, .register-shelter .email {
  width: 42%;
}

.register-shelter .street-address {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 80%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 10px;
}

.register-shelter .address-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 80%;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 10px;
}

.register-shelter .address-fields .city {
  width: 36%;
}

.register-shelter .address-fields .zipCode {
  width: 22%;
}

.register-shelter .state {
  background: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 20%;
  color: #808080;
  border: 2px solid #300057;
  border-radius: 3px;
  font-family: "Arvo";
}

.register-shelter .state:hover {
  -webkit-box-shadow: 0 0 3px 2px #A9A9A9;
          box-shadow: 0 0 3px 2px #A9A9A9;
}

.register-shelter .state option {
  color: #f5f5f5;
  background: #300057;
}

.register-shelter .password-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 80%;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 10px;
}

.register-shelter .password-fields * {
  width: 42%;
}

.register-shelter .button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 10%;
}

.shelter-form-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shelter-form-header h1 {
  color: #6C2F9D;
}

.shelter-form-header p {
  margin: 5px 20px 20px 20px;
  color: #808080;
}

.forms-container-login {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-login, .shelter-login {
  background: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-login .user-form-header, .shelter-login .user-form-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-login .user-form-header h1, .shelter-login .user-form-header h1 {
  color: #6C2F9D;
}

.user-login .user-form-header p, .shelter-login .user-form-header p {
  margin: 5px 20px 20px 20px;
  color: #808080;
}

.user-login input, .user-login button, .shelter-login input, .shelter-login button {
  margin-bottom: 10px;
}

.user-login input, .shelter-login input {
  width: 60%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.user-login button, .shelter-login button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 20%;
}

.selected {
  background: #A9A9A9;
}

.profile-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 100px;
}

.profile-container .profile-left {
  width: 70%;
}

.profile-container .pet-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.profile-container .pet-card-container .card {
  width: 22%;
}

.profile-container .dummy {
  width: 30%;
}

.profile-container .dummy .profile-right {
  width: 100%;
  background: #f5f5f5;
  border-radius: 3px;
}

.profile-container .dummy .profile-right li:hover {
  background: #C0C0C0;
}

.profile-container .dummy .profile-right .info-container {
  padding-bottom: 10px;
  margin: 10px 10px 10px 10px;
  border-bottom: 2px solid #808080;
}

.profile-container .dummy .profile-right .info-container h3 {
  color: #300057;
  font-size: 30px;
}

.profile-container .dummy .profile-right .info-container p {
  margin-left: 20px;
  color: #808080;
}

.profile-container .dummy .profile-right .links-container .profile-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.profile-container .dummy .profile-right .links-container .profile-nav-list .profile-nav-link {
  color: #4C008A;
  display: block;
  padding: 0.5em 1.5em 0.5em 1.5em;
}

.profile-container .dummy .profile-right .links-container .profile-nav-list .profile-nav-link:hover {
  color: #9340D6;
}
/*# sourceMappingURL=style.css.map */